




.list-enter-active, 
.list-leave-active
  transition: all 1s;

.list-enter, 
.list-leave-to /* .list-leave-active до версии 2.1.8 */ 
  opacity: 0;
  transform: translateY(30px);




.gridCards
  margin-bottom 4rem
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 380px);

  .cardFigure:hover
  .newsItem:hover .newsItemImg
    // filter: drop-shadow(0 0 2px $clr_alien);
    filter: drop-shadow(0 4px 10px #444);
    box-shadow: 0 4px 8px -4px $clr_alien
    transform: translateY(-4px);

  




.newsItem
  text-decoration none
  height 354px
  &:hover .newsItemImg
    //filter: grayscale(100%);
    filter: none
  &Img
    filter: sepia(90%)
    // filter: grayscale(50%);
    transition: all .3s
    border-radius 16px
  &Text
    margin-top 1em
    display: grid;
    grid-template-rows: 4.6em 1fr;
    &__text
      font-weight bold
      height 4em
      overflow: hidden
    &__date
      opacity: 0.48;




// TODO: Карточку универсальной

/*

.cardFigure
  text-decoration none
  transition: all .3s
  &:hover
    filter: drop-shadow(0 4px 10px #444);
    box-shadow: 0 4px 8px -4px $clr_alien
    transform: translateY(-4px);


  display: grid;
  align-items: end;
  color #FFF

  // width 380px
  height 380px
  position relative
  picture
    height 380px
    // background #96baf8
    position absolute
    z-index -1
    &:after
      content: ''
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      background: linear-gradient(360deg, rgba(0, 21, 72, 0.72) 0%, rgba(0, 25, 72, 0) 100%);
      border-radius: 16px;
  img
    display: block
    border-radius: 16px;

  &__text
    padding 1.4rem
    display: grid;
    grid-template-rows: 4.2em 1fr;
    align-items: end;
    grid-gap: 1rem

*/



mask()
  &:after
    content: ''
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background: linear-gradient(to top, rgba(0, 21, 72, .9) 0%, rgba(0, 25, 72, 0) 50%);
    border-radius: 16px;


.cardFigure
  text-decoration none
  transition: all .3s
  &:hover
    // filter: drop-shadow(0 4px 10px #444);
    // // box-shadow: 0 4px 8px -4px $clr_alien
    // transform: translateY(-4px);
    img
      mask-image: none

  // display: grid;
  // align-items: end;
  color #FFF
  padding 1.4rem

  // width 380px
  height 380px
  position relative
  picture
    border-radius: 16px;
    height 380px
    background $clr_gladiator //$clr_arrival //#96baf8
    position absolute
    left 0
    top 0
    z-index -1
    mask()
    // background: linear-gradient(360deg, rgba(0, 21, 72, 0.72) 0%, rgba(0, 25, 72, 0) 100%);

  img
    transition: all .5s
    display: block
    border-radius: 16px;
    mask-image: linear-gradient(to bottom, rgba(0, 21, 72, 0.72) 0%, rgba(0, 25, 72, 0) 90%);

  &Caption
    display flex
    flex-direction column
    height 100%
    justify-content space-between

    /*
    &_end
      // padding 1.4rem
      display: grid;
      grid-template-rows: 4.2em 1fr;
      align-items: end;
      grid-gap: 1rem
    */