.wrap, .wrapArticle
  margin: 0 auto;
  padding: 0 1em;
.wrap 
  max-width: 1232px;
.wrapArticle
  max-width: 790px;


.Page
  min-height 50vh


.breadcrumbs
  font-size: 13px;
  margin 3rem 0 .5rem
  &_item
    color $clr_titanic //#E5E5E5
    opacity: 0.32;
    text-decoration none






