.wrap
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 1em;

@import '__nav&links';



.TAB
  user-select none
  margin-right 1.6rem
  &.active
    &:before
      width: 100%;
  sup
    margin-left .3em
    color $clr_rocky



.gridCards
  margin-bottom 6rem
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 380px);


.newsItem
  &Img
    border-radius 16px
  &Text
    margin-top 1em
    display: grid;
    grid-template-rows: 4.6em 1fr;
    &__text
      font-weight bold
      height 4em
      overflow: hidden
    &__date
      opacity: 0.48;







/*
.cardFigure
  &_img
    border-radius 16px
  &_text
    margin-top 1em
    display: grid;
    grid-template-rows: 4.2em 1fr;
  &_date
    opacity: 0.48;
*/

.cardFigure

  figure
    width 380px
    border-radius 16px
    position relative
    img
      display block
      border-radius: 16px;

  figcaption
    border-radius: 0 0 16px 16px;
    position absolute
    bottom 0
    left 0
    width 100%
    padding 3em 1.4rem 1.4rem
    color #FFF

    background: linear-gradient(360deg, rgba(0, 21, 72, 0.72) 0%, rgba(0, 25, 72, 0) 100%);
    display: grid;
    grid-template-rows: 4.2em 1fr;

.cardFigure:hover

  figcaption
    background: linear-gradient(360deg, rgba(0, 21, 72, 0.9) 0%, rgba(0, 25, 72, .3) 100%);

