.wrap, .wrapArticle
  margin: 0 auto;
  padding: 0 1em;
.wrap 
  max-width: 1232px;
.wrapArticle
  max-width: 790px;


.Page
  min-height 50vh
/**
Page transition
*/
.page-enter-active,
.page-leave-active
    transition-property opacity
    transition-timing-function ease-in-out
    transition-duration .3s
.page-enter,
.page-leave-to
    opacity .2





.breadcrumbs
  font-size: 13px;
  margin 3rem 0 .5rem
  &_item
    color $clr_titanic //#E5E5E5
    opacity: 0.32;
    text-decoration none



[disabled]
  pointer-events: none;
  // filter: blur(1px);
  opacity .5 


