



.btn_more
  btn()
  display: grid;
  align-items: center;
  background $clr_memento
  color: $clr_godfather
  border-radius: 8px;

  height 40px
  &:hover
    // filter: drop-shadow(0 4px 10px #444);
    box-shadow: 0 .2rem .7rem -.3rem  #222 //#5085f1 // $clr_alien
    // transform: translateY(-4px);









.Tag
  margin .2em
  border-radius: 1rem
  font-size 13px
  
  padding 0 .8rem
  height 1.5rem
  display: grid;
  align-items: center;

  color #FFF
  background $clr_alien
  &.green
    background $clr_drive

  &.clicked
    display: flex
    cursor pointer
    padding-left .6rem
    &:before
      content: '●\00a0'; //'•' // ●
      color: rgba(#FFF, .2);
    //&:hover
      // box-shadow: 0 1px 8px -2px #CCC //$clr_alien
      // filter: drop-shadow(0 1px 2px rgba(0,0,0,.4));
  &.active
    background $clr_rocky
    &:before
      color: currentColor




.TAB
  user-select none
  margin-right 1.6rem
  &.active
    &:before
      width: 100%;
  sup
    margin-left .3em
    color $clr_rocky