btn()
  cursor: pointer;
  text-decoration: none;

  background $clr_memento
  color: $clr_godfather
  border-radius: 8px;

  white-space: nowrap;

  height 40px
  // display: inline-block;
  text-align: center
  display: grid;
  align-items: center;

.btn
  btn()
  transition: all .3s
  &:hover
    // filter: drop-shadow(0 4px 10px #444);
    box-shadow: 0 .2rem .7rem -.3rem  #222 //#5085f1 // $clr_alien
    // transform: translateY(-4px);