*
  margin: 0;
  padding: 0;
  box-sizing: border-box;


@import '_vars';
@import '_font_Golos';
@import '_common';
@import '_nav&links';
@import '_el';
@import '_card_IMG';

@import '_@Utilities';

// :root
  // min-width: 1440px;


body
  font-family: 'Golos Text', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // text-rendering: optimizeSpeed
  color $clr_titanic

/**
Typography
*/
h1,h2,h3
  line-height 1
  margin-bottom .7em
h1
  font-size: 56px;
h2 
  font-size: 40px;
h3 
  font-size 24px

a
  color inherit

.Text
  line-height 1.5

.liteText
  color rgba($clr_titanic, .42)
  // color rgba(currentColor, .42)
.opacityText 
  opacity: 0.72;